name: Documentation.yml

on:
 push:
  branches: 
    -attackspeed
    -gh-pages 
jobs:
  GenerateDocument:
        deploy:
        runs-on: ubuntu-latest
        steps:
           - uses: action/checkout@attackspeed
           - name: Install the Files and generate doxconf file
             run: Documentation_generate.sh
           
    uses: sO/git-publish-subdir-action@v2.4.0
    
   env:
    REPO: self
    BRANCH: gh-pages
    FOLDER: DOCS/html
    GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN }}
        
